* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media screen and (max-width: 1180px) {
  body main .mundomandala div h1 {
    font-size: 75px; }
  body main .presentacion #parrafos .parrafo1 a {
    margin: 20px 0px 0px 0px; }
  body main .presentacion #parrafos .parrafo2 a {
    margin: 20px 0px 0px 0px; } }

@media screen and (max-width: 1150px) {
  body main .presentacion #parrafos .parrafo1 {
    font-size: 38px;
    margin: 0px 0px 0px 8px; }
  body main .presentacion #parrafos .parrafo2 {
    font-size: 38px;
    margin: 0px 20px 0px 0px; }
  body main .presentacion #parrafos .parrafo1 a {
    margin: 20px 0px 0px 0px; }
  body main .presentacion #parrafos .parrafo2 a {
    margin: 20px 0px 0px 0px; } }

@media screen and (max-width: 1080px) {
  body main .mundomandala div h1 {
    font-size: 70px; }
  body main .mundomandala div p {
    font-size: 45px; }
  body main .presentacion #parrafos .parrafo1 {
    font-size: 30px;
    margin: 0px 0px 0px 8px; }
  body main .presentacion #parrafos .parrafo2 {
    font-size: 30px;
    margin: 0px 20px 0px 0px; }
  body main .presentacion #parrafos .parrafo1 a {
    margin: 30px 0px 0px 0px; }
  body main .presentacion #parrafos .parrafo2 a {
    margin: 30px 0px 0px 0px; } }

@media screen and (max-width: 975px) {
  body main .mundomandala div h1 {
    font-size: 65px;
    color: #e79110e5; }
  body main .mundomandala div p {
    font-size: 40px;
    color: #e79110e5; }
  body main .mundomandala div {
    width: 100%;
    background-image: url(/assets/img/mandalas/MUNDOMANDALA.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  body main .h2Titulo h2 {
    font-size: 50px; }
  body main .mundomandala img {
    display: none; }
  body main .presentacion #parrafos {
    flex-direction: column; }
  body main .presentacion {
    height: auto; }
  body main .presentacion #parrafos .parrafo1 {
    text-align: center;
    font-size: 30px;
    margin: 0px 0px 0px 8px; }
  body main .presentacion #parrafos .parrafo2 {
    text-align: center;
    font-size: 30px;
    margin: 0px 20px 0px 0px; }
  body main .presentacion #parrafos .parrafo1 a {
    font-size: 20px;
    color: black;
    margin: 10px 0px 0px 0px;
    background-color: #f1ddbf; }
  body main .presentacion #parrafos .parrafo2 a {
    font-size: 20px;
    color: black;
    margin: 15px 0px 10px 0px;
    background-color: #f1ddbf; }
  body main .galeria-titulo p {
    font-size: 40px; }
  body main section .grid-contenido {
    grid-template-columns: repeat(3, 1fr); }
  body main section .grid-contenido .imgGrid-9 {
    grid-column: 1/3; } }

@media screen and (max-width: 795px) {
  body main .carrusel-section .carrusel .carousel-slide .carousel-inner .carousel-item img {
    width: auto;
    height: auto; }
  .footerCarta h4 {
    margin: 15px 0px 5px 0px; }
  body header {
    flex-direction: column;
    position: unset; }
  body header a {
    border-style: none;
    margin: 0;
    padding: 0; }
  body header a img {
    width: 35px;
    height: 35px; }
  body main .h2Titulo h2 {
    font-size: 30px; }
  body main .presentacion #parrafos .parrafo1 {
    margin: 10px 0 5px 0; }
  body main .presentacion #parrafos .parrafo2 {
    margin: 10px 0 10px 0; }
  body main .presentacion #parrafos .parrafo1 a {
    margin: 0; }
  body main .presentacion #parrafos .parrafo1 a {
    margin: 0; }
  body main .copy {
    text-align: center; }
  body main .galeria-titulo p {
    font-size: 25px; }
  body main section .grid-contenido {
    grid-template-columns: repeat(2, 1fr); }
  body main section .grid-contenido .imgGrid-9 {
    display: none; }
  body main section .grid-contenido .imgGrid-2 {
    display: none; } }

@media screen and (max-width: 500px) {
  body main section .grid-contenido {
    grid-template-columns: 1fr; }
  body main .carrusel-section .carrusel {
    width: 300px; } }

@media screen and (max-width: 455px) {
  body main .mundomandala div h1 {
    font-size: 45px; }
  body main .mundomandala div p {
    font-size: 25px;
    border-radius: 45%;
    background-color: #f1ddbf;
    color: black;
    padding: 6px; }
  body main .h2Titulo h2 {
    font-size: 20px; }
  body main .galeria-titulo p {
    font-size: 15px; } }

footer .divTest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

header {
  background-color: #f1ddbfe3;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 12; }
  header nav ul {
    display: flex;
    justify-content: center;
    align-items: none;
    flex-direction: none;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0; }
  header nav li {
    margin: 0px 10px 0px 10px;
    font-family: "Kaushan Script";
    font-size: 25px;
    margin: 0px 20px 0px 20px; }
    header nav li a {
      text-decoration: none;
      color: black;
      font-weight: bold;
      transition: 0.5s; }
      header nav li a:hover {
        color: rgba(88, 45, 207, 0.966); }
  header a {
    text-decoration: none;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(88, 45, 207, 0.699);
    padding: 7px;
    margin: 5px;
    display: flex;
    justify-content: none;
    align-items: center;
    flex-direction: none; }
    header a img {
      width: 65px;
      height: 65px; }
    header a h2 {
      color: #000000c2;
      font-family: "Kaushan Script";
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 0;
      transition: 0.5s; }
      header a h2:hover {
        color: rgba(88, 45, 207, 0.699); }

main .mundomandala {
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: none; }
  main .mundomandala div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    background-color: #fac26fe5; }
    main .mundomandala div h1 {
      font-family: "Kaushan Script";
      color: rgba(88, 45, 207, 0.966);
      font-size: 85px;
      font-weight: bolder;
      margin-bottom: 0;
      margin-block-start: 0;
      margin-block-end: 0; }
    main .mundomandala div p {
      font-family: "Shalimar";
      font-size: 50px;
      font-weight: bolder;
      color: rgba(88, 45, 207, 0.966);
      margin-bottom: 0;
      margin-block-start: 0;
      margin-block-end: 0; }
  main .mundomandala img {
    width: 50%;
    height: 323px; }

main .h2Titulo h2 {
  font-family: "Kaushan Script";
  color: #f1ddbf;
  background-color: #e79110e5;
  font-size: 60px;
  text-align: center;
  margin: 0; }

main .presentacion {
  height: calc(100vh - 97px);
  background-image: url(../assets/img/mandalas/section2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  main .presentacion #parrafos {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    main .presentacion #parrafos .parrafo1 {
      font-family: "Shalimar";
      font-size: 40px;
      font-weight: bold;
      color: #ffe7c4;
      width: 40%;
      text-align: left;
      margin: 0px 0px 0px 8px; }
      main .presentacion #parrafos .parrafo1 p {
        margin-bottom: 0; }
      main .presentacion #parrafos .parrafo1 a {
        display: flex;
        justify-content: center;
        align-items: none;
        flex-direction: none;
        color: #ffe7c4;
        background-color: #000000c2;
        border-radius: 50px;
        margin: 60px 0px 0px 0px;
        text-decoration: none;
        transition: 0.5s; }
        main .presentacion #parrafos .parrafo1 a:hover {
          color: #e79110e5;
          transform: scale(1.05); }
    main .presentacion #parrafos .parrafo2 {
      font-family: "Shalimar";
      font-size: 40px;
      font-weight: bold;
      color: #ffe7c4;
      width: 40%;
      text-align: right;
      margin: 0px 20px 0px 0px; }
      main .presentacion #parrafos .parrafo2 p {
        margin-bottom: 0; }
      main .presentacion #parrafos .parrafo2 a {
        display: flex;
        justify-content: center;
        align-items: none;
        flex-direction: none;
        color: #ffe7c4;
        background-color: #000000c2;
        border-radius: 50px;
        margin: 60px 0px 0px 0px;
        text-decoration: none;
        transition: 0.5s; }
        main .presentacion #parrafos .parrafo2 a:hover {
          color: #e79110e5;
          transform: scale(1.05); }

main .carrusel-section {
  background-color: #ffe7c4; }
  main .carrusel-section .carrusel {
    padding: 10px;
    margin: auto;
    height: 500px;
    width: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    main .carrusel-section .carrusel .carrusel-item {
      width: 400px;
      height: 390px; }

main .galeria-titulo div h2 {
  font-family: "Kaushan Script";
  color: #ffe7c4;
  background-color: #e79110e5;
  font-size: 50px;
  text-align: center; }

main .galeria-titulo p {
  font-size: 50px;
  font-family: "Kaushan Script";
  color: #ffe7c4;
  background-color: #e79110e5;
  font-size: 50px;
  text-align: center; }

main .grid-contenido {
  width: 100%;
  padding: 40px;
  gap: 15px;
  background-color: #ffe7c4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr); }
  main .grid-contenido div {
    border-style: groove;
    border-color: rgba(54, 10, 83, 0.76);
    border-width: 5px;
    height: 310px;
    transition-duration: 2s;
    z-index: 10; }
    main .grid-contenido div:hover {
      transform: scale(1.05);
      border-color: #e79110e5; }
    main .grid-contenido div img {
      width: 100%;
      height: 300px; }
  main .grid-contenido .imgGrid-2 {
    grid-column: 2/4; }
  main .grid-contenido .imgGrid-9 {
    grid-column: 2/4; }

main section .accordion .accordion-item {
  background-color: rgba(88, 45, 207, 0.842); }
  main section .accordion .accordion-item .accordion-button {
    font-family: "Kaushan Script";
    color: rgba(88, 45, 207, 0.842);
    font-size: 30px;
    background-color: #fac26fe5;
    box-shadow: none; }
    main section .accordion .accordion-item .accordion-button:not(.collapsed) {
      color: rgba(88, 45, 207, 0.842);
      background-color: #e79110e5;
      box-shadow: none; }
  main section .accordion .accordion-item .accordion-body {
    font-family: "Shalimar";
    font-size: 40px;
    color: #ffe7c4; }

footer {
  background-color: #fac26fe5;
  width: auto; }
  footer .divTest {
    width: auto; }
    footer .divTest .footerCarta h4 {
      text-align: center;
      font-family: "Kaushan Script";
      font-size: 25px;
      color: rgba(88, 45, 207, 0.966);
      margin: 50px 0px 5px 0px; }
    footer .divTest .navRedes .redes-cont {
      width: auto;
      display: flex;
      justify-content: none;
      align-items: none;
      flex-direction: row;
      margin: 10px 0px 30px 0px; }
      footer .divTest .navRedes .redes-cont div a {
        color: rgba(88, 45, 207, 0.966);
        margin: 20px;
        transition: 0.5s; }
        footer .divTest .navRedes .redes-cont div a:hover {
          color: #e79110e5; }
  footer .copy {
    color: white;
    background-color: black;
    font-family: "Shalimar";
    font-size: 20px;
    margin: 0; }
    footer .copy p {
      margin: 0; }
