*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

/************* --------------------------------- HEADER --------------------------------- *************/
header {
    background-color: #f1ddbfe3;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header a {
    text-decoration: none;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(88, 45, 207, 0.699);
    padding: 7px;
    margin: 5px;
    display: flex;
    align-items: center;
}

header a h2 {
    color: rgba(0, 0, 0, 0.699);
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

header a img {
    width: 65px;
    height: 65px;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.781);
    background-color: rgba(54, 10, 83, 0);
    font-weight: bold;
}

header nav ul li {
    margin: 0px 10px 0px 10px;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    margin: 0px 20px 0px 20px;
}

/************* --------------------------------- MAIN --------------------------------- *************/

.mundomandala {
    display: flex;
    justify-content: space-between;
}

.mundomandala div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #fac26fe5;
}

.mundomandala div p {
    font-family: 'Shalimar', cursive;
    font-size: 50px;
    font-weight: bolder;
    color: rgba(88, 45, 207, 0.842);
}

.mundomandala h1 {
    font-family: 'Kaushan Script', cursive;
    color: rgba(88, 45, 207, 0.966); 
    font-size: 85px;
    font-weight: bolder;
}

.mundomandala img {
    width: 50%;
    height: 323px;
}

.presentacion {
    height: calc(100vh - 97px);
    background-image: url(../assets/img/mandalas/section2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.h2Titulo h2 {
    font-family: 'Kaushan Script', cursive;
    color: #f1ddbf;
    background-color: #e79110e5;
    font-size: 60px;
    text-align: center; 
}


#parrafos {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parrafo1 {
    font-family: 'Reenie Beanie', cursive;
    font-size: 40px;
    font-weight: bold;
    color: #ffe7c4;
    width: 40%;
    text-align: left;
    margin: 0px 0px 0px 8px;
}

.parrafo1 a{
    display: flex;
    justify-content: center;
    color: #ffe7c4;
    background-color: #000000c2;
    border-radius: 50px;
    margin: 60px 0px 0px 0px;
    text-decoration: none;
}

.parrafo2 {
    font-family: 'Reenie Beanie', cursive;
    font-size: 40px;
    font-weight: bold;
    color: #ffe7c4;
    width: 40%;
    text-align: right;
    margin: 0px 20px 0px 0px;
}

.parrafo2 a{
    display: flex;
    justify-content: center;
    color: #ffe7c4;
    background-color: #000000c2;
    border-radius: 50px;
    margin: 60px 0px 0px 0px;
    text-decoration: none;
}


.presentacion div img {
    width: 420px;
    height: 420px;
    border-style: solid;
    border-color:  rgba(54, 10, 83, 0.904);
}

section article {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: antiquewhite;
    background-color: rgba(54, 10, 83, 0.76);
}

section form {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: antiquewhite;
    background-color: rgba(54, 10, 83, 0.76);
}

.carrusel {
    height: 300px;
    background-color: #fac26fe5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrusel img {
    width: 250px;
    height: 250px;
    margin: 50px;
    border-radius: 150px;
}

.galeria-titulo {
    font-family: 'Kaushan Script', cursive;
    color: #f1ddbf;
    background-color: #e79110e5;
    font-size: 50px;
    text-align: center; 
}

.galeria-titulo p {
    font-size: 50px;
}

/******** APLICANDO GRID ********/
.grid-contenido {
    width: 100%;
    padding: 40px;
    gap: 15px;
    background-color: #f1ddbf;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
}

.grid-contenido div {
    border-style: groove;
    border-color:rgba(54, 10, 83, 0.76);
    border-width: 5px;
    height: 310px;
}

.grid-contenido div img{
    width: 100%;
    height: 300px;
}

.imgGrid-2 {
    grid-column: 2/4;
}


.imgGrid-9 {
    grid-column: 2/4;
}

/************* --------------------------------- FOOTER --------------------------------- *************/



footer {
    background-color: #fac26fe5;
    width: auto;
}

.footerCarta h4 {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    color: rgba(88, 45, 207, 0.966);
    margin: 50px 0px 5px 0px;

}

.divTest {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.navRedes .redes-cont {
    width: auto;
    display: flex;
    flex-direction: row;
    margin: 10px 0px 30px 0px;
}

.navRedes .redes-cont div a {
    color: rgba(88, 45, 207, 0.842);
    margin: 20px;
}

.copy {
    color: aliceblue;
    background-color: black;
    font-family: 'Reenie Beanie', cursive;
    font-size: 20px;
}



/********** MEDIA QUERYS **********/
@media screen and (max-width:1180px) {
    .mundomandala h1 {
        font-size: 75px;
    }
}


@media screen and (max-width:1150px) {

    .parrafo1 {
        font-size: 38px;
        margin: 0px 0px 0px 8px;
    }
    

    .parrafo2 {
        font-size: 38px;
        margin: 0px 20px 0px 0px;
}

.parrafo1 a{
    margin: 50px 0px 0px 0px;
}

.parrafo2 a{
    margin: 50px 0px 0px 0px;
}
}

@media screen and (max-width:1080px) {
    .mundomandala h1 {
        font-size: 70px;
    }

    .mundomandala div p {
        font-size: 45px;
    }

    .parrafo1 {
        font-size: 30px;
        margin: 0px 0px 0px 8px;
    }

    .parrafo2 {
        font-size: 30px;
        margin: 0px 20px 0px 0px;
    }

    .parrafo1 a{
        margin: 30px 0px 0px 0px;
    }

    .parrafo2 a{
        margin: 30px 0px 0px 0px;
    }

}

@media screen and (max-width:975px) {
    .mundomandala h1 {
        font-size: 65px;
        color: #e79110e5;
    }

    .mundomandala div p {
        font-size: 40px;
        color: #e79110e5;
    }

    .carrusel img {
        width: 200px;
        height: 200px;
    }

    .mundomandala div{
        width: 100%;
        background-image: url(../assets/img/mandalas/MUNDO\ MANDALA.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
    }

    .h2Titulo h2{
        font-size: 50px;
    }

    .mundomandala img {
        display: none;
    }

    #parrafos {
        flex-direction: column;
    } 

    .presentacion {
        height: auto;
    }

    .parrafo1 {
        text-align: center;
        font-size: 30px;
        margin: 0px 0px 0px 8px;
    }

    .parrafo2 {
        text-align: center;
        font-size: 30px;
        margin: 0px 20px 0px 0px;
    }

    .parrafo1 a{
        font-size: 20px;
        color: black;
        margin: 10px 0px 0px 0px;
        background-color: #f1ddbf;
    }

    .parrafo2 a{
        color: black;
        margin: 15px 0px 10uypx 0px;
        background-color: #f1ddbf;
    }

} 

@media screen and (max-width:795px) {
        .carrusel {
        flex-direction: column;
        height: auto;
    } 

.carrusel img {
    margin: 10px;
}

    .footerCarta h4 {
        margin: 15px 0px 5px 0px;
    }

    header {
        flex-direction: column;
        position: unset;
        
    }

    header a img {
        width: 35px;
        height: 35px;
    }
}



/*
header a {
    text-decoration: none;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(88, 45, 207, 0.699);
    padding: 7px;
    margin: 5px;
    display: flex;
    align-items: center;
}

header a h2 {
    color: rgba(0, 0, 0, 0.699);
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

header a img {
    width: 65px;
    height: 65px;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.781);
    background-color: rgba(54, 10, 83, 0);
    font-weight: bold;
}

header nav ul li {
    margin: 0px 10px 0px 10px;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    margin: 0px 20px 0px 20px;
*/