footer {
    background-color: $color1;
    width: auto;
    .divTest {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        .footerCarta {
            h4 {
                text-align: center;
                font-family: 'Kaushan Script', cursive;
                font-size: 25px;
                color: $color4;
                margin: 50px 0px 5px 0px;
            }
        }
        .navRedes {
            .redes-cont {
    width: auto;
    display: flex;
    flex-direction: row;
    margin: 10px 0px 30px 0px;
                div {
                    a {
                        color: $color4;
                        margin: 20px;
                        transition: 0.5s;
                        &:hover {
                            color: $color3;
                        }
                    }
                }
            }
        }
    }
    .copy {
        color: $colorwhite;
        background-color: $colorblack;
        font-family: 'Reenie Beanie', cursive;
        font-size: 20px;
        margin: 0;
        p {
            margin: 0;
        }
    }
}