footer {
    background-color: $color1;
    width: auto;
    .divTest {
        width: auto;
        @extend %flex;
        .footerCarta {
            h4 {
                text-align: center;
                font-family: nth($fuente, 1);
                font-size: 25px;
                color:rgba(88, 45, 207, 0.966) ;
                margin: 50px 0px 5px 0px;
            }
        }
        .navRedes {
            .redes-cont {
    width: auto;
    @include flex (flex, none, none, row);
    margin: 10px 0px 30px 0px;
                div {
                    a {
                        color:rgba(88, 45, 207, 0.966) ;
                        margin: 20px;
                        transition: 0.5s;
                        &:hover {
                            color: $color3;
                        }
                    }
                }
            }
        }
    }
    .copy {
        color: $colorwhite;
        background-color: $colorblack;
        font-family: nth($fuente, 3);
        font-size: 20px;
        margin: 0;
        p {
            margin: 0;
        }
    }
}