header {
    background-color: $color0;
    position: sticky;
    top: 0;
    @include flex (flex, center, center, row);
    z-index: 12;
    nav {
        ul {
            @include flex (flex, center, none, none);
            list-style: none;
            padding: 0;
            margin-bottom: 0;
            margin-block-start: 0;
            margin-block-end: 0;
            padding-inline-start: 0;
        }
            li {
                margin: 0px 10px 0px 10px;
                font-family: nth($fuente, 1);
                font-size: 25px;
                margin: 0px 20px 0px 20px;
                a {
                    text-decoration: none;
                    color: $colorblack;
                    font-weight: bold;
                    transition: 0.5s;
                    &:hover {
                        color: rgba(88, 45, 207, 0.966);
                    }
                }
            }
        }
    a{
        text-decoration: none;
        border-style: solid;
        border-width: 4px;
        border-color: rgba(88, 45, 207, 0.699);
        padding: 7px;
        margin: 5px;
        @include flex (flex, none, center, none);
        img {
            width: 65px;
            height: 65px;
        }
        h2 {
            color: #000000c2;
            font-family: nth($fuente, 1);
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 0;
            transition: 0.5s;
            &:hover {
                color: rgba(88, 45, 207, 0.699);
            }
        }
    }
}

