main {
    .mundomandala {
        @include flex (flex, space-between, none, none);
        div {
            @include flex (flex, center, center, column);
            width: 50%;
            background-color: $color1;
            h1 {
                font-family: nth($fuente, 1);
                color: rgba(88, 45, 207, 0.966); 
                font-size: 85px;
                font-weight: bolder;
                margin-bottom: 0;
                margin-block-start: 0;
                margin-block-end: 0;
            }
            p {
                font-family: nth($fuente, 3);
                font-size: 50px;
                font-weight: bolder;
                color: rgba(88, 45, 207, 0.966);
                margin-bottom: 0;
                margin-block-start: 0;
                margin-block-end: 0;
            }
        }
        img {
            width: 50%;
            height: 323px;
        }
    }
    .h2Titulo {
        h2 {
            font-family: nth($fuente, 1);
            color: #f1ddbf;
            background-color: $color3;
            font-size: 60px;
            text-align: center; 
            margin: 0;
        }
    }
    .presentacion {
        height: calc(100vh - 97px);
        background-image: url(../assets/img/mandalas/section2.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        #parrafos {
            height: 100%;
            @include flex (flex, space-between, center, row);
            .parrafo1 {
                font-family: nth($fuente, 3);
                font-size: 40px;
                font-weight: bold;
                color: $color2;
                width: 40%;
                text-align: left;
                margin: 0px 0px 0px 8px;
                p{
                    margin-bottom: 0;
                }
                a {
                    @include flex (flex, center, none, none);
                    color: $color2;
                    background-color: #000000c2;
                    border-radius: 50px;
                    margin: 60px 0px 0px 0px;
                    text-decoration: none;
                    transition: 0.5s;
                    &:hover {
                        color: $color3;
                        transform: map-get($grid-maps, transicion);
                    }
                }
            }
            .parrafo2 {
                font-family: nth($fuente, 3);
                font-size: 40px;
                font-weight: bold;
                color: $color2;
                width: 40%;
                text-align: right;
                margin: 0px 20px 0px 0px;
                p {
                    margin-bottom: 0;
                }
                a {
                    @include flex (flex, center, none, none);
                    color: $color2;
                    background-color: #000000c2;
                    border-radius: 50px;
                    margin: 60px 0px 0px 0px;
                    text-decoration: none;
                    transition: 0.5s;
                    &:hover {
                        color: $color3;
                        transform: map-get($grid-maps, transicion);
                    }
                }
            }
        }
    }

    .carrusel-section {
        background-color: $color2;
        .carrusel {
            padding: 10px;
            margin: auto;
            height: 500px;
            width: 390px;
            @include flex (flex, center, center, none);
            .carrusel-item{
                width: 400px;
                height: 390px;
            }
        }
    }

.galeria-titulo {
    div {
        h2 {
            font-family: nth($fuente, 1);
            color: $color2;
            background-color: $color3;
            font-size: 50px;
            text-align: center; 
        }
    }
    p {
        font-size: 50px;
        font-family: nth($fuente, 1);
        color: $color2;
        background-color: $color3;
        font-size: 50px;
        text-align: center; 
    }
}

    .grid-contenido {
        width: map-get($grid-maps, ancho);
        padding: map-get($grid-maps, padd);
        gap: map-get($grid-maps, gap);
        background-color: $color2;
        @include grids (grid, repeat(4,1fr), repeat(3,1fr));
        div {
            border-style: groove;
            border-color: rgba(54, 10, 83, 0.76);
            border-width: 5px;
            height: map-get($grid-maps, alto-div);
            transition-property: map-get($grid-maps, transition) ;
            transition-duration: map-get($grid-maps, duracion);
            z-index: 10;
            &:hover {
                transform: map-get($grid-maps, transicion);
                border-color: $color3;
            }
            img {
                width: map-get($grid-maps, ancho);
                height: map-get($grid-maps, alto-img);
            }
        }
        .imgGrid-2 {
            grid-column: 2/4;
        }
        .imgGrid-9 {
            grid-column: 2/4;
        }
    }
}

main section .accordion {
    .accordion-item {
        background-color: rgba(88, 45, 207, 0.842);
        .accordion-button {
            font-family: nth($fuente, 1);
            color: rgba(88, 45, 207, 0.842);
            font-size: 30px;
            background-color: $color1;
            box-shadow: none;
            &:not(.collapsed) {
                color: rgba(88, 45, 207, 0.842) ;
                background-color: $color3 ;
                box-shadow: none;
            }
        }
        .accordion-body {
            font-family: nth($fuente, 3);
            font-size: 40px;
            color: $color2;
        }
    }
}