main {
    .mundomandala {
        display: flex;
        justify-content: space-between;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            background-color: #fac26fe5;
            h1 {
                font-family: 'Kaushan Script', cursive;
                color: rgba(88, 45, 207, 0.966); 
                font-size: 85px;
                font-weight: bolder;
            }
            p {
                font-family: 'Shalimar', cursive;
                font-size: 50px;
                font-weight: bolder;
                color: rgba(88, 45, 207, 0.842);
            }
        }
        img {
            width: 50%;
            height: 323px;
        }
    }
    .h2Titulo {
        h2 {
            font-family: 'Kaushan Script', cursive;
            color: #f1ddbf;
            background-color: #e79110e5;
            font-size: 60px;
            text-align: center; 
            margin: 0;
        }
    }
    .presentacion {
        height: calc(100vh - 97px);
        background-image: url(../assets/img/mandalas/section2.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        #parrafos {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .parrafo1 {
                font-family: 'Reenie Beanie', cursive;
                font-size: 40px;
                font-weight: bold;
                color: #ffe7c4;
                width: 40%;
                text-align: left;
                margin: 0px 0px 0px 8px;
                a {
                    display: flex;
                    justify-content: center;
                    color: #ffe7c4;
                    background-color: #000000c2;
                    border-radius: 50px;
                    margin: 60px 0px 0px 0px;
                    text-decoration: none;
                    transition: 0.5s;
                    &:hover {
                        color: #e79110e5;
                        transform: scale(1.05);
                    }
                }
            }
            .parrafo2 {
                font-family: 'Reenie Beanie', cursive;
                font-size: 40px;
                font-weight: bold;
                color: #ffe7c4;
                width: 40%;
                text-align: right;
                margin: 0px 20px 0px 0px;
                a {
                    display: flex;
                    justify-content: center;
                    color: #ffe7c4;
                    background-color: #000000c2;
                    border-radius: 50px;
                    margin: 60px 0px 0px 0px;
                    text-decoration: none;
                    transition: 0.5s;
                    &:hover {
                        color: #e79110e5;
                        transform: scale(1.05);
                    }
                }
            }
        }
    }

    .carrusel-section {
        background-color: antiquewhite;
        .carrusel {
            padding: 10px;
            margin: auto;
            height: 400px;
            width: 390px;
            display: flex;
            justify-content: center;
            align-items: center;
            .carrusel-item{
                width: 400px;
                height: 390px;
            }
        }
    }

.galeria-titulo {
    div {
        h2 {
            font-family: 'Kaushan Script', cursive;
            color: #f1ddbf;
            background-color: #e79110e5;
            font-size: 50px;
            text-align: center; 
        }
    }
    p {
        font-size: 50px;
        font-family: 'Kaushan Script', cursive;
        color: #f1ddbf;
        background-color: #e79110e5;
        font-size: 50px;
        text-align: center; 
    }
}

    .grid-contenido {
        width: 100%;
        padding: 40px;
        gap: 15px;
        background-color: #f1ddbf;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3,1fr);
        div {
            border-style: groove;
            border-color:rgba(54, 10, 83, 0.76);
            border-width: 5px;
            height: 310px;
            transition: 2s ease-in-out;
            &:hover {
                transform: scale(1.05);
                border-color: #e79110e5;
            }
            img {
                width: 100%;
                height: 300px;
            }
        }
        .imgGrid-2 {
            grid-column: 2/4;
        }
        .imgGrid-9 {
            grid-column: 2/4;
        }
    }
}

.section {
    .accordion {
        .accordion-item {
            background-color: rgba(88, 45, 207, 0.842);
        }
    }
}