$colorblack: black ;
$colorwhite: white;
$color0: #f1ddbfe3;
$color1: #fac26fe5 ;
$color2: #ffe7c4 ;
$color3: #e79110e5 ;
$color4: rgba(88, 45, 207, 0.966) ;
$color5: rgba(54, 10, 83, 0.76) ;
$color6: #000000c2 ;
